.hero-account{
    padding-top: 8rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    animation-name: hero-anim-account;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-account {
    0%{
        background-image: url('../picture/newrefine/bg6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    25%{
        background-image: url('../picture/newrefine/bg6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/newrefine/bg7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/refine/bg51.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-account{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}



.modal-bg{
    background-image: url('../picture/refine/mbg3.jpg');
}

.blur{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    color: white!important;
    backdrop-filter: blur(15px);
}

.booking-section, .hotel-section{
    background-color:#F2F8FD;
    padding-bottom: 50px!important;
    padding-top: 50px!important;
}






/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

 
    .hero-account{
        padding: 0px!important;
    }


    .hero-content-account{
        background-color: hsla(210, 95%, 5%, 0.8);
        padding-left: 50px!important;
        padding-right: 50px!important;
        padding-top: 12rem;
        padding-bottom: 10rem;
        box-shadow: none;
        text-align: center;
    }


    .column-note{
        padding: 20px!important;
    }
    
    .top-note{
        margin-bottom: 20px!important;
    }


    .booking-section, .hotel-section{
        background-color:#F2F8FD;
        padding-bottom: 20px!important;
        padding-top: 20px!important;
    }



 }




 /* tablet */
 @media only screen and (min-device-width:768px) and (max-device-width:1023px){

    .card-title{
        font-size: 18px!important;
    }
    

    .exp-btn{
        padding-left: 20px!important;
        padding-right: 20px!important;
        font-size: 12px!important;
    }


    .hero-account{
        padding-top: 7rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
    }

    .hero-content-account{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }

    .column-note{
        padding: 20px!important;
    }
    
    .top-note{
        margin-bottom: 20px!important;
    }



 }




  /* /* 1024 screen */
  @media only screen and (min-device-width:1024px) and (max-device-width:1276px){
 

    .exp-btn{
        padding-left: 20px!important;
        padding-right: 20px!important;
        font-size: 16px!important;
    }


    .hero-content-account{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
    

  }
