.hero-contact{
    padding: 0px!important;
    animation-name: hero-anim-contact;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
}

@keyframes hero-anim-contact {
    0%{
        background-image: url('../picture/contact-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/contact-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/leisure-hero.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-contact{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 13rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}


.form{
    background-image: url('../picture/Rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.label-note{
    font-size: 12px!important;
    font-weight: 600;
}

input, textarea{
    border-radius: 0px!important;
}


.contact-icon{
    width: 50%!important;
}



/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-contact{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-left: 20px!important;
        padding-right: 20px!important;

    }

    .map{
        margin-bottom: 0px!important;
    }

    .location-details{
        margin-top: 0px!important;
        padding-top: 0px!important;
        text-align: center;
    }


    .contact-icon{
        width: 15%!important;
        margin-bottom: 20px;
    }
    
    .detail{
        text-align: center;
        margin-top: 30px!important;
    }

    .contact-form{
        padding: 20px!important;
    }







 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .contact-icon{
        width:100%!important;
        margin-bottom: 20px;
    }

 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }