.hero-corporate{
    padding: 0px!important;
    animation-name: hero-anim;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
}

@keyframes hero-anim {
    0%{
        background-image: url('../picture/corporate bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/leisure-hero.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/corporate bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-corporate{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 9rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}

.priemer{
    background-image: url('../picture/corporate\ bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.qualities-pics{
    width: 100%;
}


.fa-check-circle{
    color: #0275d8;
}

ul{
    line-height: 2;
}

.corporate-part{
    background-image: url('../picture/Rectangle.png');
}

.partners-pic{
    width: 100%;
}









/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .hero-content-corporate{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }

    .priemer{
        padding: 0px!important;
    }

    .priemer-section{
        padding-bottom: 0px!important;
    }

    .corporate-qualities{
        margin-top: 0px!important;
    }

    .corporate-list{
        padding: 50px 20px 20px 20px!important;
    }

    .corporate-part{
        margin-top: 0px!important;
    }

    .corporate-part .col-md-6{
        margin-top: 25px!important;
        padding: 20px!important;
    }


 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .facebook, .twitter, .linkedin, .instagram{
        width: 50px;
        height: 50px;
    }

    .foot-link{
        padding-left: 20px!important;
    }

 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }


