.hero-corporate{
    padding-top: 7rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    animation-name: hero-anim-corporate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-corporate{
    0%{
        background-image: url('../picture/newrefine/bg8.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/newrefine/bg8.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/newrefine/bg9.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-corporate{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.779);
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}

.priemer{
    background-image: url('../picture/refine/bg52.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.priemer-note{
    background-color:#F2F8FD;
    padding: 55px!important;
}

.priemer-section{
    background-color:#F2F8FD;
    padding-bottom: 50px!important;
    padding-top: 50px!important;
}

.feature-list{
    list-style-type: square;
}


.qualities-pics{
    width: 100%;
}


.fa-check-circle{
    color: #0275d8;
}

ul{
    line-height: 2;
}

.corporate-part{
    background-image: url('../picture/Rectangle.png');
}

.partners-pic{
    width: 100%;
}

.corporate-feature{
    height: 500px;
    margin-top: 20px;
    box-shadow: 0px 4px 5px rgba(46,46,46,0.5);
    background-color:#F2F8FD;
}


.card-image{
    height:250px!important;
}








/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .hero-content-corporate{
        background-color: hsla(210, 95%, 5%, 0.8)!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 6rem!important;
        box-shadow: none;

    }

    .hero-corporate{
padding: 0px!important;
    }

    .priemer{
        padding: 0px!important;
    }

    .priemer-section{
        padding-bottom: 0px!important;
    }

    .priemer-note{
        padding: 20px 10px 20px 10px!important;
    }

    .corporate-qualities{
        margin-top: 0px!important;
    }

    .corporate-list{
        padding: 50px 20px 20px 20px!important;
    }

    .corporate-part{
        margin-top: 0px!important;
    }

    .corporate-part.col-md-6{
        margin-top: 25px!important;
        padding: 20px!important;
    }

    .part-pic{
        margin-top: 0px!important;
        padding: 0px!important;
    }


    .corporate-note{
        padding: 20px!important;
    }


    ul{
        line-height: 1.8;
    }

    .main-scroll{
        margin-bottom: 0px!important;
    }

    .corporate-key{
        margin-top: 40px!important;
    }

    .card-image{
        height:200px!important;
    }

    .corporate-feature{
        height: 450px;
    }

    .other-features{
        padding: 0px!important;
    }

 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1023px){
    .heading-note{
        font-size: 14px;
    }

    .hero-content-corporate{
        padding-top: 2rem!important;
        padding-bottom: 3rem;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }

    .hero-corporate{
        padding: 6rem 2rem 2rem 2rem!important;
    }

    .head{
        font-size: 30px;
    }

    .corporate-q{
        font-size: 13px;
    }

    .corporate-list{
        padding: 40px 20px 0px 20px!important;
    }


    .corporate-part{
        padding: 0px 20px 30px 20px!important;
    }

    .corporate-note{
        padding-top: 30px!important;
        padding-bottom: 30px!important;
    }


    .main-scroll{
        margin-bottom: 0px!important;
    }

    .priemer{
        padding: 0px!important;
    }

    .priemer-note{
        padding: 30px!important;
    }

    .card-image{
        height:180px!important;
    }

    .corporate-feature{
        height: 450px;
    }

    .other-features{
        padding: 0px!important;
    }

 }


 /* /* 1024 screen */
 @media only screen and (min-device-width:1024px) and (max-device-width:1276px){
 
    .hero-content-corporate{
        padding-top: 8rem;
        padding-bottom: 5rem;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }

    .corporate-note{
        padding-top: 30px!important;
        padding-bottom: 30px!important;
    }

    .corporate-q{
        font-size: 13.5px;
    }

    .corporate-list{
        margin-top: 40px;
    }

    .corporate-feature{
        height: 480px;
    }

    .priemer-note{
        padding: 40px!important;
    }
    
    .priemer{
        padding: 0px!important;
    }

}




/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }


