.hero-flight{
    padding: 0px!important;
    animation-name: hero-anim-flight;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-flight {
    0%{
        background-image: url('../picture/flight-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/flight-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/mainhero2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-flight{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 12rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}


.smooth-book, .benefit-book{
    background-color:#F2F8FD;
}



/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-flight{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-left: 20px!important;
        padding-right: 20px!important;

    }


    .smooth-book-note{
        padding: 20px!important;
        margin-top: 10px!important;
    }


    .benefit-book-note{
        padding: 20px!important;
        margin-top: 10px !important;
    }

    .partner-note{
        margin-top: 10px!important;
        padding: 20px!important ;
    }



 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .smooth-book-note{
        padding: 20px!important;
        margin-top: 0px!important;
    }

    .smooth-book{
        padding-bottom: 0px!important;
    }

    .partner-note{
        margin-top: 0px!important;
        padding: 20px!important ;
    }


    .benefit-book-note{
        padding: 20px!important;
    }







 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }