.wave-section{
    position: absolute;
    width: 100%;
    height: 40vh;
    background:#010e1b;
    overflow: hidden;
    opacity: 0.06;
    margin-top: 100px;
}

.wave-section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../picture/newrefine/wave.png');
    background-size: 1000px 100%;
}

.wave-section .wave.wave1{
    animation: animate 35s linear infinite;
    z-index: 1000;
    opacity: 0.9;
    animation-delay: 0s;
    bottom: 0;
    height: 20vh;
}

.wave-section .wave.wave2{
    animation: animate 25s linear infinite;
    z-index: 999;
    opacity: 0.3;
    animation-delay: 0s;
    bottom: 20px;
    height: 20vh;

}


.wave-section .wave.wave3{
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.6;
    animation-delay: 0s;
    bottom: 0;
    height: 20vh;
}  



@keyframes animate{

    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 1000px;
    }
}


@keyframes animate2{

    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: -1000px;
    }
}




.partners-logo{
    box-shadow: 0px 4px 5px rgba(70,70,70,0.5);
    border-radius: 30px ;
    width: 100%;
    padding: 20px;
}



.partner-quote{
    border: 2px solid #010e1b;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: none;
    border-right: none;

}

.head{
    font-size: 45px;
    font-weight:bold;
}

.footer{
    background-color: #010e1b;
}



.logo-footer{
    width: 80%!important;
}


h6{
    font-weight: 590;
    color: white;
}

.footer-list{
    list-style-type: none;
    font-size: 14px;
    color: white;
    opacity: 0.7;
    padding-left: 0px!important;
}

.footer-list li{
    cursor: pointer;
}

.foot-note{
    font-size: 14px;
}

.facebook, .twitter, .linkedin{
    background-color: white;
    padding:5px;
    font-size: 30px;
    color: #151515;
    border-radius: 50%;
    width: 15%;
    height: 20%;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.instagram{
    padding:5px;
    font-size: 30px;
    color: #151515;
    border-radius: 50%;
    width: 15%;
    height: 20%;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.footer-line{
    background-color: white;
    opacity: 0.3;
}

.watermark{
    color: #0275d8;
    opacity: 0.4;
    font-size: 12px;
    font-weight: bold;
}


.footer-link{
    opacity: 0.9!important;
    color: white!important;
    text-decoration: none!important;
}

.foot-logo{
    width:120%!important;
}






/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .facebook, .twitter, .linkedin, .instagram{
        width: 50px;
        height: 50px;
    }

    .foot-link{
        padding-left: 20px!important;
    }



    .foot-logo{
        width: 100%!important;
    }

    .logos-col{
        padding-top: 5px!important;
    }

    .our-part{
        text-align: center;
        border: none!important;
    }

    .wave-section{
        display: none;
    }

 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1023px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .facebook, .twitter, .linkedin, .instagram{
        width: 50px;
        height: 50px;
    }

    .foot-link{
        padding-left: 20px!important;
    }

    .footer-list{
        font-size: 12px!important;
        line-height: 1.5!important;
    }

    .foot-note{
        font-size: 12px;
    }

    .foot-logo{
        width:100%!important;
        margin-left: 40px!important;
    }

    .wave-section{
       margin-top: 305px!important;
    }
 }



  /* /* 1024 screen */
  @media only screen and (min-device-width:1024px) and (max-device-width:1276px){
  
    .head{
        font-size: 37px;
    }

    .foot-logo{
        width:100%!important;
        margin-left: 40px!important;
    }

    .footer-list{
        font-size: 13px!important;
        line-height: 1.7!important;
    }

    .wave-section{
        margin-top: 210px!important;
     }

}


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }