


  .hero-hotel{
    padding: 0px!important;
    animation-name: hero-anim-hotel;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-hotel {
    0%{
        background-image: url('../picture/hotel-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/hotel-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/mainhero2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-hotel{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 11rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}


.hotel-book, .hotel-benefit{
    background-color:#F2F8FD;
}



.partner-logo{
    width: 75%;
}

.hotel-tab-screen{
    display: none;
}











/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-hotel{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 9rem;
        padding-bottom: 5rem;

    }


    .hotel-book{
        margin-top: 0px!important;
        padding-top: 0px!important;
    }

    .hotel-book-note{
        padding: 20px!important;
    }

    .hotel-partner-note{
        padding: 20px!important;
    }

    .partner-logo{
        width: 100%;
    }


 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .hero-content-hotel{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 9rem;
        padding-bottom: 5rem;

    }

    .hotel-book-note{
        margin-top: 0px!important;
        padding-top: 0px!important;
    }

    .hotel-book{
        padding-bottom: 0px!important;
    }

    .hotel-partner-note{
        padding: 20px!important;
    }

    .partner-logo{
        width: 100%;
        text-align: center;
        justify-self: center;
        margin-right: auto;
    }

    .hotel-tab-screen{
        display: flex!important;
    }

    .hotel-all-screen{
        display: none;
    }









 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }