.hero-leisure{
    animation-name: hero-anim-leisure;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-leisure {
    0%{
        background-image: url('../picture/newrefine/bg24.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    25%{
        background-image: url('../picture/newrefine/bg24.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/refine/bg21.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/refine/bg11.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-leisure{
    background-color: hsla(210, 95%, 5%, 0.7);
    padding-top: 15rem;
    padding-bottom: 12.5rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}

.leisure-dest{

        padding-right: 20px!important;
    background-image: url('../picture/refine/bg13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dest-note{
    background-color:#F2F8FD;
    box-shadow: 0px 4px 10px rgba(7, 41, 70, 0.4);
}

.leisure-stack1{
    width:100%;
}

.leisure-idea{
    margin-top: -120px!important;
    padding-top: 200px;
    background-image: url('../picture/Rectangle.png');
}

.ideas{
    margin-bottom: 10px;
}

.ideas:hover{
    box-shadow: 0px 4px 10px rgba(7, 41, 70, 0.8);
    z-index: 100;
    border: 2.5px solid white;
    transition: all 0.2s;
}

.luxury{
    border: 3px solid white;
    box-shadow: 0px 4px 10px rgba(7, 41, 70, 0.4);
}










/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
        padding: 5px!important;
    }


    .head{
        font-size: 30px;
    }

    .vessel-top{
        margin-top: 20px!important;
    }

    .hero-leisure{
padding: 0px!important;
    }


    .hero-content-leisure{
        background-color: hsla(210, 95%, 5%, 0.8);
        padding-left: 50px!important;
        padding-right: 50px!important;
        padding-top: 13rem;
        padding-bottom: 11rem;
        box-shadow: none;

    }

    .page-note{
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-bottom: 0px!important;
        padding-top: 20px!important;
    }

  .lux-note{
        padding: 0px 20px 0px 20px!important;
    }

    .leisure-dest{
        padding: 0px 10px 0px 10px!important;
    }


    .dest-note{
        margin:10px 0px 10px 0px!important;
        padding: 10px 20px 10px 20px!important;
        color: white;
        background-color: hsla(210, 95%, 5%, 0.8);
        box-shadow: 0px 4px 10px rgba(7, 41, 70, 0.4);
    }




    .leisure-stack{
        padding: 5px 20px 5px 20px!important;
    }


    .ideas{
        margin-top: 10px!important  ;
    }

    .leisure-idea{
        margin-bottom: 0px!important;
        padding-bottom: 20px!important;
    }


 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1023px){
    .heading-note{
        font-size: 14px;
    }

    .hero-leisure{
        padding-top: 7rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
    }

    .hero-content-leisure{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }


    .head{
        font-size: 30px;
    }

    .dest-note{
        margin-top: 30px!important;
        padding: 20px 20px 20px 20px!important;
    }

    .lux-note{
        margin-top: 30px!important;
        padding: 20px 20px 0px 20px!important;
    }

    .leisure-dest{
        padding-right: 20px!important;

    }


    .leisure-idea{
        margin-top: -150px!important;
        margin-bottom: 0px!important;
    }

    .hero-content-leisure{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-top: 7rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 4rem;
    }


    .adjust-head, .adjust-note, .adjust-btn{
        padding: 0px!important;
    }


 }



 
    /* /* 1024 screen */
    @media only screen and (min-device-width:1024px) and (max-device-width:1276px){

        .hero-content-leisure{
            padding-left: 30px!important;
            padding-right: 30px!important;
            padding-top: 2rem!important;
            padding-bottom: 2rem!important;
        }


        .leisure-idea{
            margin-top: -160px!important;
            margin-bottom: 0px!important;
        }

    }

/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }