.hero-ourcompany{
    padding: 0px!important;
    animation-name: hero-anim-ourcompany;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
}

@keyframes hero-anim-ourcompany {
    0%{
        background-image: url('../picture/ourompnay-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/ourompnay-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/corporate bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-ourcompany{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 9rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}

.accordion{
    background-color: #010e1b!important;
}

.MuiIconButton-root{
    color: #0275d8!important;
}

.leadership, .history{
    background-color:#F2F8FD;
}






/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-ourcompany{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-left: 20px!important;
        padding-right: 20px!important;

    }

    .page-note{
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-bottom: 0px!important;
        padding-top: 20px!important;
    }

    .faq{
        margin-top: 20px!important;
    }

    .leader-note, .profile-note, .history-note{
        padding: 20px!important;
    }






 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .leader-note, .history-note, .profile-note{
        margin-top: 0px!important;
        padding: 20px!important;
    }

    .leadership, .history{
        padding-bottom: 0px!important;
    }


 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }