.hero-package{
    padding: 0px!important;
    animation-name: hero-anim-package;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-package {
    0%{
        background-image: url('../picture/package-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    25%{
        background-image: url('../picture/package-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }


    65%{
        background-image: url('../picture/images/bg16.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/images/bg31.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-package{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 11rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 8rem;
}


.package-contact{
    background-color: #010e1b;
}










/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-package{
        background-color: hsla(210, 95%, 5%, 0.7);
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 9rem;
        padding-bottom: 5rem;

    }





 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 12px;
    }


    .head{
        font-size: 30px;
    }










 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }