.hero-philosophy{
    padding: 0px!important;
    animation-name: hero-anim-philosophy;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-philosophy {
    0%{
        background-image: url('../picture/ourphilosophy.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/ourphilosophy.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/mainhero2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-philosophy{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 9rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}

.tag{
    font-size: 25px!important;
}

.accordion-philosophy{
    background-color: #010e1b!important;
    border-top: 2px solid white!important;
}

.accordion-note{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.offering-note{
    background-image: url('../picture/corporate\ bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-philosophy{
        background-color: hsla(210, 95%, 5%, 0.7);
        padding-left: 20px!important;
        padding-right: 20px!important;

    }

    .page-note-phil{
        padding-left: 0px!important;
        padding-right: 0px!important;
        padding-bottom: 0px!important;
        padding-top: 20px!important;
    }

    .tag{
        font-size: 18px!important;
    }


 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .tag{
        font-size: 18px!important;
    }





 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }