

.hero-safety{
    padding-top: 9rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
    animation-name: hero-anim-safety;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


@keyframes hero-anim-safety {
    0%{
        background-image: url('../picture/newrefine/bg23.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    25%{
        background-image: url('../picture/newrefine/bg23.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/refine/bg6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/refine/bg80.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.hero-content-safety{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.safety-one{
    margin-top: 60px;
    background-image: url('../picture/refine/bg69.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.safety-one-note{
    background-color:white;
    padding: 80px!important;
} 

.safety-two-note{
    background-color: #F2F8FD;
    padding: 80px!important;

}

.safety-two{
    background-image: url('../picture/corporate-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 50px; */
}

.safety-three{
    background-color: #010e1b;
}








/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){


    .hero-safety{
        padding: 0px!important;
    }


    .hero-content-safety{
        background-color: hsla(210, 95%, 5%, 0.8);
        padding-left: 50px!important;
        padding-right: 50px!important;
        padding-top: 13rem;
        padding-bottom: 11rem;
        box-shadow: none;

    }


    .safety-one-note{
        padding: 20px!important;
        margin-top: -25px!important;
    }

    .safety-two-note{
        padding: 20px!important;
    }

    .safety-three{
        padding: 0px!important;
    }


    .inner-safety{
        padding: 20px!important;
    }


    .safety-three-note{
        padding-top: 0px!important;
    }






}



/* tablet */

@media only screen and (min-device-width:768px) and (max-device-width:1023px){



    .hero-safety{
        padding-top: 7rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
    }

    .hero-content-safety{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }

    .safety-one-note{
        padding: 20px!important;
        margin-top: -25px!important;
    }

    .safety-two-note{
        padding: 40px!important;
    }

    .inner-safety{
        padding: 20px!important;
    }







}




 /* /* 1024 screen */
 @media only screen and (min-device-width:1024px) and (max-device-width:1276px){

    .hero-content-safety{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }

 }