.tech-haves{
    background-color:#F2F8FD;
}


.hero-tech{
    padding-top: 9rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
    animation-name: hero-anim-tech;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


@keyframes hero-anim-tech {
    0%{
        background-image: url('../picture/newrefine/bg34.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    25%{
        background-image: url('../picture/newrefine/bg34.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/newrefine/bg36.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/newrefine/bg37.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-tech{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}





/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .travel-tech{
        padding-top:20px!important ;
    }


    .tech-cont{
        padding: 0px!important;
    }



    .hero-tech{
        padding: 0px!important;
    }


    .hero-content-tech{
        background-color: hsla(210, 95%, 5%, 0.8);
        padding-left: 50px!important;
        padding-right: 50px!important;
        padding-top: 13rem;
        padding-bottom: 11rem;
        box-shadow: none;

    }

    .seamless-section{
        margin-top: 30px!important;
    }




}


@media only screen and (min-device-width:768px) and (max-device-width:1023px){

    .hero-tech{
        padding-top: 7rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
    }

    .hero-content-tech{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }



}




 /* /* 1024 screen */
 @media only screen and (min-device-width:1024px) and (max-device-width:1276px){

    .hero-content-tech{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
   

 }
