.hero-tour{
    padding-top: 7rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    animation-name: hero-anim-tour;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-tour {
    0%{
        background-image: url('../picture/refine/bg8.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    25%{
        background-image: url('../picture/refine/bg8.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/refine/bg27.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/refine/bg24.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-tour{
    background-color: hsla(210, 95%, 5%, 0.96);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.779);
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}


.tour-title{
    font-weight: bold;
}

.tour-options{
    border: none;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(46,46,46,0.5);
}


.tour-img{
    width: 100%!important;
    height: 190px!important;
border-radius: 0px!important;
}

.dest-img{
    border: 3px solid white;
    box-shadow: 0px 4px 6px rgba(46,46,46,0.5);
}


.travels-pic{
    border-radius: 0px!important;
}


.tour-button{
        background-color: #0275d8;
        border-radius: 0px;
        font-size: 14px;
    color: white;
        font-weight: 600;
}

.enjoy-section{
    padding-bottom: 100px!important;
}

.our-travels{
    padding-bottom: 30px!important;
}

.card{
    border: none;
}




/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-tour{
        padding: 0px!important;
    }


    .hero-content-tour{
        background-color: hsla(210, 95%, 5%, 0.8);
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 7rem;
        padding-bottom: 4rem;
        box-shadow: none;

    }

    .tour-options{
        margin-top: 20px!important;
        padding: 0px;
    }

    .tour-img{
        width: 100%!important;
        height: 100%!important;
    }

    .t-img-box{
        margin: -20px 0px 0px 0px!important;
    }

    .img-box{
        padding: 7px 2px 7px 2px!important;
    }


    .travel-dest{
        margin-top:20px!important;
    }


    .enjoy-section{
        padding-bottom: 0px!important;
    }

    .our-travels{
        margin-top: 35px!important;
    }





 }






 /* Tablets */

 @media only screen and (min-device-width:768px) and (max-device-width:1023px){
    .heading-note{
        font-size: 12px;
    }


    .head{
        font-size: 30px;
    }

    .img-box{
        padding: 7px 2px 7px 2px!important;
    }


    .t-img-box{
        padding: 30px;
        margin: -20px 0px 0px 0px!important;
    }


    .tour-img{
        width: 300px!important;
        height: 120px!important;
    }


    .tour-options{
        padding: 0px!important;
    }

    .tour-title{
        font-size: 15px;
    }
    
    .enjoy-section{
        padding-bottom: 0px!important;
    }

    .our-travels{
        margin-top: 20px!important;
    }


    .hero-tour{
        padding-top: 7rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
    }

    .hero-content-tour{
        padding-left: 30px!important;
        padding-right: 30px!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }







 }


/* Larger Screens */
 @media only screen and (min-width:1824px) {
     
 }