.hero-transport{
    padding: 0px!important;
    animation-name: hero-anim-transport;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes hero-anim-transport {
    0%{
        background-image: url('../picture/transport-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    65%{
        background-image: url('../picture/transport-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background-image: url('../picture/mainhero.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero-content-transport{
    background-color: hsla(210, 95%, 5%, 0.88);
    padding-top: 12rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 7rem;
}

.heading{
    font-weight: 900;
    font-size: 50px;
}

.scroll{
    margin-top: -20px;
    animation-iteration-count: 5;
}




/* Media Queries begins */

 /* Smartphones */

 @media only screen and (min-device-width:320px) and (max-device-width:480px){

    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }


    .hero-content-transport{
        background-color: hsla(210, 95%, 5%, 0.88);
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 9rem;
        padding-bottom: 5rem;

    }




 }


 @media only screen and (min-device-width:768px) and (max-device-width:1024px){
    .heading-note{
        font-size: 14px;
    }


    .head{
        font-size: 30px;
    }

    .medical-section{
        padding: 20px!important;
    }

 }
